
@{
    ViewBag.Title = "Index";
}

<div class="container">

    <div class="row">
        <div class="col-lg-8">

            <!-- the actual blog post: title/author/date/content -->
            <h1>***ARTICLE TITLE HERE***</h1>
            <p class="lead">
                by <a href="index.php">***AUTHOR***</a>
            </p>
            <hr>
            <p>
                <span class="glyphicon glyphicon-time"></span> Posted on ***DATE HERE***
            </p>
            <hr>
            <img src="http://placehold.it/900x300" class="img-responsive">
            <hr>
            <p class="lead">***LEAD TEXT***</p>
            <p>***BODY TEXT***</p>
            <hr>
        </div>

        <div class="col-lg-4">
            <!-- /well -->
            <div class="well" style="margin-top: 20px;">
                <h4>Popular Categories</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">LINK 1</a>
                            </li>
                            <li>
                                <a href="#">LINK 2</a>
                            </li>
                            <li>
                                <a href="#">LINK 3</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">LINK 1</a>
                            </li>
                            <li>
                                <a href="#">LINK 2</a>
                            </li>
                            <li>
                                <a href="#">LINK 3</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
